{% if collection.handle =='womens-wedding-bands' %}
<div class="ContentWrapper ContentColumn">  
<header class="SectionHeader TextCenter">
  <h2 class="SectionHeader__Heading Heading u-h1">Women's Wedding Bands</h2>
  <div class="Header__Description c-80">
    <p>Women's wedding bands from Michael Gabriels are the perfect choice for women seeking modern, elegant, and sustainable fine jewelry. Our lab grown diamond women's wedding bands are an outstanding complement to your engagement ring and will instantly make you feel more confident and luxurious.</p>
    <p>From women's silver wedding bands and gold women's wedding bands to rose gold women's wedding bands, there is a wedding band to suit your needs and desires. The lab grown diamonds on these sustainable and unique wedding bands for women come in a range of shapes, including oval, round, radiant, princess, and so much more!</p>
    <p>Our lab created diamond wedding bands for women are an excellent and stunning choice for today's bride. They go above and beyond the typical style and feel to provide every bride with a one-of-a-kind wedding band. With every sustainable women's wedding band, we specialize in exceeding expectations for style, design, and variety all while authentically conveying your personal love story.</p>
  </div>
  <h2 class="SectionHeader__Heading Heading u-h1">Unmatched Variety </h2>
    <div class="Header__Description c-80">
    <p>At Michael Gabriels, we understand that selecting your wedding band is a significant decision, and we are honored to be a part of it. You deserve a women's diamond wedding band that is just as beautiful as you, which is why we place such an emphasis on quality and design. </p>
    <p>Our unique wedding bands for women are symbols of lifelong companionship and devotion, with classic and contemporary designs with lab grown diamonds created by Michael Gabriels' expert craftsmen. Whatever style you're looking for, our assortment of wedding bands is sure to impress.</p>
  </div>
  <h2 class="SectionHeader__Heading Heading u-h1">Sustainable and Ethically Sourced </h2>
  <div class="Header__Description c-80">
    <p>Our diamond women's wedding bands are entirely lab-grown and ethically sourced to provide an affordable yet magnificent piece of jewelry. Our lab-grown ethical fine jewelry is created in controlled environments that mimic the natural process that produces mined diamonds. They are grown with minimum environmental impact and deliver outstanding value.</p>
    <p>Lab-grown diamonds have the same chemical attributes and appearance as mined diamonds. Using environmentally friendly, cutting-edge technology, we have the ability to create outstanding and superior women's wedding bands.</p>
    <p>With our lab-grown diamond women's wedding bands, you can receive the same size, cut, and quality of mined diamonds at a more affordable price. At Michael Gabriels, our dedication to <a class="Link Link--underline Link--center" href="https://michaelgabriels.com/pages/about-our-jewelry-company">ethical sourcing</a> is paving the path for more transparency in the fine jewelry industry.</p>
  </div>
  <h2 class="SectionHeader__Heading Heading u-h1">Customizable </h2>
  <div class="Header__Description c-80">
    <p>When you have a stunning bespoke <a class="Link Link--underline Link--center" href="https://michaelgabriels.com/collections/engagement-rings">engagement ring</a> from Michael Gabriels, it only makes sense to pair it with a one-of-a-kind custom diamond women's wedding band. Every sustainable women's wedding band is custom-made for each customer. All you have to do is choose your preferred style, and we will work with you to guarantee that the band is exactly the way you want it.</p>
    <p>At Michael Gabriels, we make sure to go out of our way to ensure all of our customers are happy with our service and products.</p>
    <p>The wedding band of your dreams is only a few clicks away. Explore our selection of sustainable women's wedding bands or <a class="Link Link--underline Link--center" href="https://michaelgabriels.com/collections/">browse</a> our other fine jewelry collections today!</p>
  </div>
</header>
</div>
{% endif %} 