<div class="colors">
    <div class="color">
        <div class="grades">
            <div class="grade">D</div>
            <div class="grade">E</div>
            <div class="grade">F</div>
        </div>
        <div class="name">Colorless</div>
    </div>
    <div class="color">
        <div class="grades">
            <div class="grade">G</div>
            <div class="grade">H</div>
            <div class="grade">I</div>
            <div class="grade">J</div>
        </div>
        <div class="name">Near Colorless</div>
    </div>
    <div class="color">
        <div class="grades">
            <div class="grade">K</div>
            <div class="grade">L</div>
            <div class="grade">M</div>
        </div>
        <div class="name">Faint Yellow</div>
    </div>
    <div class="color">
        <div class="grades">
            <div class="grade">N</div>
            <div class="grade">O</div>
            <div class="grade">P</div>
            <div class="grade">Q</div>
            <div class="grade">R</div>
        </div>
        <div class="name">Very Light Yellow</div>
    </div>
    <div class="color">
        <div class="grades">
            <div class="grade">S</div>
            <div class="grade">T</div>
            <div class="grade">U</div>
            <div class="grade">V</div>
            <div class="grade">W</div>
            <div class="grade">X</div>
            <div class="grade">Y</div>
            <div class="grade">Z</div>
        </div>
        <div class="name">Light Yellow</div>
    </div>
</div>