<table class="carat-weight">
    <tbody>
    <tr>
        <td><b>WEIGHT</b>, carat</td>
        <td>0.25</td>
        <td>0.50</td>
        <td>1.00</td>
        <td>1.25</td>
        <td>1.50</td>
        <td>1.75</td>
        <td>2.00</td>
        <td>2.50</td>
        <td>3.00</td>
    </tr>
    <tr>
        <td><b>SIZE</b>, mm</td>
        <td>4.1</td>
        <td>5.1</td>
        <td>6.4</td>
        <td>6.9</td>
        <td>7.4</td>
        <td>7.8</td>
        <td>8.1</td>
        <td>9.0</td>
        <td>9.3</td>
    </tr>
    <tr>
        <td><b>IMAGE</b></td>
        <td>
            <div class="Carat Carat1"></div>
        </td>
        <td>
            <div class="Carat Carat2"></div>
        </td>
        <td>
            <div class="Carat Carat3"></div>
        </td>
        <td>
            <div class="Carat Carat4"></div>
        </td>
        <td>
            <div class="Carat Carat5"></div>
        </td>
        <td>
            <div class="Carat Carat6"></div>
        </td>
        <td>
            <div class="Carat Carat7"></div>
        </td>
        <td>
            <div class="Carat Carat8"></div>
        </td>
        <td>
            <div class="Carat Carat9"></div>
        </td>
    </tr>
    </tbody>
</table>