<div class="qualities">
    <div class="quality one">
        <div class="quality_name">Internally Flawless</div>
    </div>
    <div class="quality two">
        <div class="quality_name">Very Very Slightly Included</div>
    </div>
    <div class="quality two">
        <div class="quality_name">Very Slightly Included</div>
    </div>
    <div class="quality two">
        <div class="quality_name">Slightly Included</div>
    </div>
    <div class="quality one">
        <div class="quality_name">Included / Imperfect</div>
    </div>
    <div class="quality one">
        <div class="quality_name">Included / Imperfect</div>
    </div>
    <div class="quality one">
        <div class="quality_name">Included / Imperfect</div>
    </div>
</div>