<section id="section-{{ section.id }}">
{% render 'banner-secondary' %}
</section>


{% schema %}
  {
  "name": "Banner secondary",
  "settings": [
    {
       "type": "image_picker",
       "id": "image",
       "label": "Top section image",
       "info": "1920 x 800px .png recommended"
    },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "Sub-heading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Content for section</p>"
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "Link Title",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "content_right",
          "label": "Content right",
          "default": false
        }

  ]
  }
{% endschema %}
{% javascript %}
{% endjavascript %}


